.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 70px auto;
  padding: 4rem 0 0 0;
}

.about .about-box {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  /* border: 2px solid green; */
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 2rem 4rem;
  padding: 20px;
  box-sizing: border-box;
}
.about .about-content h1{
  text-align: left;
}
.about-content {
  display: flex;
  padding-top: 2rem;
  flex-direction: column;
  /* align-items: center; */

  width: 100%;
}

.about-info {
  margin-top: 20px;
}

.skill-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.skills {
  flex: 1;
  height: 150px;
  padding: 10px;
}

.about-right {
  margin-top: 20px;
}

.about-right img {
  max-width: 70%;
  height: auto;
  border-radius: 50%;
}

@media only screen and (max-width: 767px) {
  .about{
    /* padding: 0; */
  }
  .about .about-box {
    padding:0;
    width: 100%;
    flex-direction: column-reverse;
    /* border: 2px solid black; */
  }

  .about .about-content, .about-right {
    width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
    /* border: 2px solid green; */
  }
  .about-right img{
    margin: auto;
    width: 100%;
    padding: 0;
    /* border: 10px solid red; */
  }
}
