
.home {
   
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    /* background-color: uamarine; */
  }
 
  .home-img{
    width: 100%;
    display: flex;
    
    justify-content: center;
    /* border: 2px solid green; */
    z-index: 1;
    margin-top: -40px;
  }
 
  .home-img img{
    width: 15%;
    margin: auto;
    border-radius: 50%;
    z-index: 1;
    border: 6px solid white;
  }
  
  .home-box{
    width: 100%;
    margin-top: -50px;
    /* border: 2px solid yellow; */
    background-color: white;
  }
  .home-box  .home-content{
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 80px auto;
    gap: 10px;
    /* padding-top: 4rem; */
    /* border: 2px solid slateblue; */
  }
  .home-box  .home-content .name{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
    /* border: 2px solid red; */
    padding: 1 0;
  }
  .home-box  .home-content .name span{
  font-size: 1.7rem;
  }
  .home-box  .home-content .name h1{
  font-size: 2.5rem;
  }
  .home-box  .home-content .typing{
    text-align: center;
  font-size: 1.5rem;
  }
  .home-box  .home-content .social-links ul{
    display: flex;
    /* border: 2px solid red; */
    justify-content: center;
    gap: 15px;
    flex-direction: row;
  }
  .home-box  .home-content .social-links ul img{
    width: 25px;
  }
  .home-box  .home-content .home-links{
    display: flex;
    /* border: 2px solid red; */
    justify-content: center;
    gap: 15px;
    flex-direction: row;
  }
  .home-box  .home-content .home-links a{
    padding: 10px 35px;
    border: 1px solid gray;
    border-radius: 20px;
    font-size: 14px;
  }

  @media only screen and (max-width: 767px) {
    .home {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 0;
      /* background-color: uamarine; */
    }
   
    .home-img{
      width: 100%;
      display: flex;
      
      justify-content: center;
      /* border: 2px solid green; */
      z-index: 1;
      margin-top: -40px;
    }
   
    .home-img img{
      width: 30%;
      margin: auto;
      border-radius: 50%;
      z-index: 1;
      border: 6px solid white;
    }
    
    .home-box{
      width: 100%;
      margin-top: -50px;
      padding-bottom: 4rem;
      /* border: 2px solid yellow; */
      background-color: white;
    }
    .home-box  .home-content{
      width: 90%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 80px auto;
      gap: 10px;
      /* padding-top: 4rem; */
      /* border: 2px solid slateblue; */
    }
    .home-box  .home-content .name{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
      /* border: 2px solid red; */
      padding: 1 0;
    }
    .home-box  .home-content .name span{
    font-size: 1.5rem;
    }
    .home-box  .home-content .name h1{
    font-size: 2.2rem;
    }
    .home-box  .home-content .typing{
      text-align: center;
    font-size: 1.5rem;
    }
    .home-box  .home-content .social-links ul{
      display: flex;
      /* border: 2px solid red; */
      justify-content: center;
      gap: 15px;
      flex-direction: row;
    }
    .home-box  .home-content .social-links ul img{
      width: 25px;
    }
    .home-box  .home-content .home-links{
      display: flex;
      /* border: 2px solid red; */
      justify-content: center;
      gap: 15px;
      flex-direction: row;
    }
    .home-box  .home-content .home-links a{
      padding: 10px 35px;
      border: 1px solid gray;
      border-radius: 20px;
      font-size: 14px;
    }
  
  }
  @media only screen and (max-width: 600px) {
    .home {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 0;
      /* background-color: uamarine; */
    }
   
    .home-img{
      width: 100%;
      display: flex;
      
      justify-content: center;
      /* border: 2px solid green; */
      z-index: 1;
      margin-top: -40px;
    }
   
    .home-img img{
      width: 40%;
      margin: auto;
      border-radius: 50%;
      z-index: 1;
      border: 6px solid white;
    }
    
    .home-box{
      width: 100%;
      margin-top: -50px;
      padding-bottom: 2rem;
      /* border: 2px solid yellow; */
      background-color: white;
    }
    .home-box  .home-content{
      width: 90%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      margin: 80px auto;
      gap: 10px;
      /* padding-top: 4rem; */
      /* border: 2px solid slateblue; */
    }
    .home-box  .home-content .name{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
      /* border: 2px solid red; */
      padding: 1 0;
    }
    .home-box  .home-content .name span{
    font-size: 1.5rem;
    }
    .home-box  .home-content .name h1{
    font-size: 2.2rem;
    }
    .home-box  .home-content .typing{
      text-align: center;
    font-size: 1.5rem;
    }
    .home-box  .home-content .social-links ul{
      display: flex;
      /* border: 2px solid red; */
      justify-content: center;
      gap: 15px;
      flex-direction: row;
    }
    .home-box  .home-content .social-links ul img{
      width: 25px;
    }
    .home-box  .home-content .home-links{
      display: flex;
      /* border: 2px solid red; */
      justify-content: center;
      gap: 15px;
      flex-direction: row;
    }
    .home-box  .home-content .home-links a{
      padding: 10px 35px;
      border: 1px solid gray;
      border-radius: 20px;
      font-size: 14px;
    }
  
  }