.navbar {
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  display: flex;
  padding: 10px 0;
  justify-content: space-around;
  align-items: center;
  z-index: 1000;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  /* border-bottom: 2px solid black; */

}

nav {
  transition: bottom 0.5s ease-in-out;
}

.logo {
  font-family: "Playwrite MX", cursive;
  font-size: 25px;
  z-index: 10; /* Ensures logo is above other elements */
}

.nav-menu {
  display: flex;
  gap: 5px;
  z-index: 9; /* Ensures nav-menu is above other background elements */
}

.nav-menu.active {
  width: 100%;
}

nav ul li a {
  padding: 10px 25px;
  border-radius: 20px;
  /* border: 1px solid gray; */
  font-weight: 400;
  font-family: "Fira Sans", sans-serif;
  color: black;
  font-size: 14px;
  text-decoration: none; /* Ensures no underline */
}

nav ul li a.active {
  color: slateblue;
  /* background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%); */
}

.menu-bar {
  font-size: 30px;
  cursor: pointer;
  display: none;
  z-index: 20; /* Ensures menu-bar is above other elements */
}

@media only screen and (max-width: 767px) {
  .navbar {
    padding: 5px 0;
  }

  .nav-menu {
    position: absolute;
    right: 0;
    top:75px;
    bottom: 0;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    width: 0px;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    height: calc(40vh);
    border-radius: 60px 0 0 60px;
    transition: all 0.3s ease-in;
    overflow: hidden;
    align-items: center;
    z-index: 19; /* Ensure it's below the menu-bar */
  }

  .nav-menu.active {
    width: 50%;
  }

  .menu-bar {
    display: inline;
    font-size: 25px;
    border-radius: 50%;
    padding: 10px;
  }

  .menu-bar .bar1,
  .menu-bar .bar2,
  .menu-bar .bar3 {
    border-top: 2px solid black;
    margin-top: 3px;
  }

  .menu-bar .bar1 {
    width: 25px;
    height: 2px;
    border-radius: 10px;
  }

  .menu-bar .bar2 {
    width: 18px;
    height: 2px;
    margin-left: 0;
  }

  .menu-bar .bar3 {
    width: 25px;
    height: 2px;
  }

  nav ul li a {
    color: white;
  }

 
}